In [1]:
from missforest.missforest import MissForest
import pandas as pd
import numpy as np

# Importar datos

Los datos están en formato `csv`, se deben omitir las 2 primeras filas, las filas 4 y 5 se deben eliminar al igual que las últimas 8 filas. Se deben cambiar los datos que tengan el valor `Sin Data` por `NaN`.

In [24]:
# Se lee el csv, se omiten las 2 primeras filas y se busca que el codificado sea 'latin1'

df = pd.read_csv('data/PM2.5_1h_2017-2022_Jun_Original.csv',encoding='latin1',skiprows=2)

# Se eliminan las 2 primeras filas que son las filas 4 y 5 del csv

df = df[2:]

# verificamos las últimas 8 filas

df[-8:]

,Fecha & Hora,Bolivia,Bosa,Carvajal - Sevillana,Centro de Alto Rendimiento,Ciudad Bolivar,Colina,Fontibon,Guaymaral,Jazmin,...,Las Ferias,MinAmbiente,Movil Fontibon,Movil 7ma,Puente Aranda,San Cristobal,Suba,Tunal,Usaquen,Usme
48170,Minimum,Sin Data,1.5,Sin Data,Sin Data,Sin Data,Sin Data,Sin Data,Sin Data,0.1,...,Sin Data,Sin Data,Sin Data,Sin Data,Sin Data,Sin Data,Sin Data,Sin Data,Sin Data,Sin Data
48171,MinDate,16/10/2020 19:00,06/04/2021 04:00,02/01/2017 14:00,01/01/2017 06:00,20/07/2021 16:00,18/02/2021 20:00,10/01/2019 13:00,01/01/2017 02:00,20/11/2020 10:00,...,06/01/2017 15:00,01/01/2017 09:00,09/04/2021 10:00,12/09/2017 05:00,01/01/2017 14:00,01/01/2017 10:00,09/02/2017 13:00,01/01/2017 08:00,01/01/2017 13:00,13/07/2021 13:00
48172,Maximum,73.9,77.2,188,165.4,137.5,60.7,168.4,109,98.6,...,110,122,125.8,210,108,104.6,167,171,101,88.7
48173,MaxDate,04/09/2021 23:00,08/12/2020 02:00,01/01/2021 03:00,21/12/2017 07:00,01/01/2021 03:00,24/02/2022 09:00,07/12/2020 24:00,14/01/2021 24:00,01/01/2021 05:00,...,20/09/2019 13:00,10/05/2022 16:00,17/03/2022 04:00,30/11/2019 03:00,24/11/2020 09:00,16/08/2019 12:00,11/01/2020 06:00,01/01/2021 03:00,23/03/2018 15:00,25/12/2021 04:00
48174,Avg,15.4,13.4,31.6,14,19.1,9.4,18.7,13.8,15.7,...,14.6,13.8,20.3,22.1,18.5,12.2,15.6,17.1,13.3,12.6
48175,Num,14658,6836,42188,43135,14608,11048,29613,45120,14804,...,44307,43823,10513,40080,42793,43240,45411,46011,41233,14249
48176,Data[%],30.43,14.19,87.59,89.55,30.33,22.94,61.48,93.67,30.73,...,91.98,90.98,21.83,83.21,88.84,89.77,94.28,95.52,85.6,29.58
48177,STD,9.2,9.1,15.6,11.1,12.5,7.3,11.6,10.6,10.4,...,11.8,12,12.8,15.2,12.6,10.5,11,14.2,10.9,10

In [25]:
# Eliminamos las últimas 8 filas

df = df[:-8]

# reiniciamos los índices

df.reset_index(drop=True, inplace=True)

# Reemplazamos los valores 'Sin Data' por 'NaN'

df.replace('Sin Data', pd.NA, inplace=True)

df.head()

,Fecha & Hora,Bolivia,Bosa,Carvajal - Sevillana,Centro de Alto Rendimiento,Ciudad Bolivar,Colina,Fontibon,Guaymaral,Jazmin,...,Las Ferias,MinAmbiente,Movil Fontibon,Movil 7ma,Puente Aranda,San Cristobal,Suba,Tunal,Usaquen,Usme
0,01/01/2017 01:00,<NA>,<NA>,21.2,14.2,<NA>,<NA>,<NA>,3,<NA>,...,<NA>,6,<NA>,6,7.4,14.8,42,32,8,<NA>
1,01/01/2017 02:00,<NA>,<NA>,28.6,32.8,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,9,<NA>,33,6,18.5,34,56,7,<NA>
2,01/01/2017 03:00,<NA>,<NA>,29.9,35,<NA>,<NA>,<NA>,2,<NA>,...,<NA>,6,<NA>,33,10,15.1,36,30,5,<NA>
3,01/01/2017 04:00,<NA>,<NA>,24.2,9.4,<NA>,<NA>,<NA>,10,<NA>,...,<NA>,4,<NA>,6,11.5,10.4,24,8,12,<NA>
4,01/01/2017 05:00,<NA>,<NA>,15.6,3.3,<NA>,<NA>,<NA>,13,<NA>,...,<NA>,2,<NA>,<NA>,8.2,7.6,10,4,8,<NA>

## Fechas

Como la columna `Fecha & Hora` tiene problemas de notación de fecha, se crea una secuencia de fechas con frecuencia de 1 hora desde el 01/01/2017 a la 1:00 hasta el 01/07/2022 00:00.

In [28]:
fecha_inicio = '01/01/2017 01:00'
fecha_final = '01/07/2022 00:00'

Fecha = pd.date_range(start=fecha_inicio, end=fecha_final,freq='H')

Fecha

C:\Users\Yeye\AppData\Local\Temp\ipykernel_10876\1493420703.py:4: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  Fecha = pd.date_range(start=fecha_inicio, end=fecha_final,freq='H')

DatetimeIndex(['2017-01-01 01:00:00', '2017-01-01 02:00:00',
               '2017-01-01 03:00:00', '2017-01-01 04:00:00',
               '2017-01-01 05:00:00', '2017-01-01 06:00:00',
               '2017-01-01 07:00:00', '2017-01-01 08:00:00',
               '2017-01-01 09:00:00', '2017-01-01 10:00:00',
               ...
               '2022-01-06 15:00:00', '2022-01-06 16:00:00',
               '2022-01-06 17:00:00', '2022-01-06 18:00:00',
               '2022-01-06 19:00:00', '2022-01-06 20:00:00',
               '2022-01-06 21:00:00', '2022-01-06 22:00:00',
               '2022-01-06 23:00:00', '2022-01-07 00:00:00'],
              dtype='datetime64[ns]', length=43968, freq='h')

In [29]:
df.shape

(48168, 21)

In [30]:
df.tail()

,Fecha & Hora,Bolivia,Bosa,Carvajal - Sevillana,Centro de Alto Rendimiento,Ciudad Bolivar,Colina,Fontibon,Guaymaral,Jazmin,...,Las Ferias,MinAmbiente,Movil Fontibon,Movil 7ma,Puente Aranda,San Cristobal,Suba,Tunal,Usaquen,Usme
48163,30/06/2022 20:00,21,<NA>,48,14,9.2,9.8,13,9,25.5,...,14,13,19.4,<NA>,16.3,11,11,12,<NA>,3
48164,30/06/2022 21:00,23.7,<NA>,58,16,6.9,7.8,17.9,9,18.6,...,12,14,16.6,<NA>,18.4,9,16,17,6,2.7
48165,30/06/2022 22:00,17.1,<NA>,52,12,8.2,6.3,17,6,16.1,...,10,9,13,<NA>,15.5,6,6,13,5,2.7
48166,30/06/2022 23:00,15.2,<NA>,46,16,15.9,5.6,9.1,5,14.4,...,9,11,12.7,<NA>,12.5,3,7,19,<NA>,2.5
48167,30/06/2022 24:00,30.2,<NA>,51,12,14.9,5.1,27.7,6,11.4,...,13,7,32,<NA>,9.8,6,8,14,<NA>,7.5