In [1]:
import pandas as pd
import numpy as np
import sys

# Importar datos

Los datos están en formato `csv`, se deben omitir las 2 primeras filas, las filas 4 y 5 se deben eliminar al igual que las últimas 8 filas. Se deben cambiar los datos que tengan el valor `Sin Data` por `NaN`.

In [3]:
# Se lee el csv, se omiten las 2 primeras filas y se busca que el codificado sea 'latin1'

df = pd.read_csv("../data/PM2.5_1h_2017-2022_Jun_Original.csv",encoding='latin1',skiprows=2)

# Se eliminan las 2 primeras filas que son las filas 4 y 5 del csv

df = df[2:]

# verificamos las últimas 8 filas

df[-8:]

,Fecha & Hora,Bolivia,Bosa,Carvajal - Sevillana,Centro de Alto Rendimiento,Ciudad Bolivar,Colina,Fontibon,Guaymaral,Jazmin,...,Las Ferias,MinAmbiente,Movil Fontibon,Movil 7ma,Puente Aranda,San Cristobal,Suba,Tunal,Usaquen,Usme
48170,Minimum,Sin Data,1.5,Sin Data,Sin Data,Sin Data,Sin Data,Sin Data,Sin Data,0.1,...,Sin Data,Sin Data,Sin Data,Sin Data,Sin Data,Sin Data,Sin Data,Sin Data,Sin Data,Sin Data
48171,MinDate,16/10/2020 19:00,06/04/2021 04:00,02/01/2017 14:00,01/01/2017 06:00,20/07/2021 16:00,18/02/2021 20:00,10/01/2019 13:00,01/01/2017 02:00,20/11/2020 10:00,...,06/01/2017 15:00,01/01/2017 09:00,09/04/2021 10:00,12/09/2017 05:00,01/01/2017 14:00,01/01/2017 10:00,09/02/2017 13:00,01/01/2017 08:00,01/01/2017 13:00,13/07/2021 13:00
48172,Maximum,73.9,77.2,188,165.4,137.5,60.7,168.4,109,98.6,...,110,122,125.8,210,108,104.6,167,171,101,88.7
48173,MaxDate,04/09/2021 23:00,08/12/2020 02:00,01/01/2021 03:00,21/12/2017 07:00,01/01/2021 03:00,24/02/2022 09:00,07/12/2020 24:00,14/01/2021 24:00,01/01/2021 05:00,...,20/09/2019 13:00,10/05/2022 16:00,17/03/2022 04:00,30/11/2019 03:00,24/11/2020 09:00,16/08/2019 12:00,11/01/2020 06:00,01/01/2021 03:00,23/03/2018 15:00,25/12/2021 04:00
48174,Avg,15.4,13.4,31.6,14,19.1,9.4,18.7,13.8,15.7,...,14.6,13.8,20.3,22.1,18.5,12.2,15.6,17.1,13.3,12.6
48175,Num,14658,6836,42188,43135,14608,11048,29613,45120,14804,...,44307,43823,10513,40080,42793,43240,45411,46011,41233,14249
48176,Data[%],30.43,14.19,87.59,89.55,30.33,22.94,61.48,93.67,30.73,...,91.98,90.98,21.83,83.21,88.84,89.77,94.28,95.52,85.6,29.58
48177,STD,9.2,9.1,15.6,11.1,12.5,7.3,11.6,10.6,10.4,...,11.8,12,12.8,15.2,12.6,10.5,11,14.2,10.9,10

In [4]:
# Eliminamos las últimas 8 filas

df = df[:-8]

# reiniciamos los índices

df.reset_index(drop=True, inplace=True)

# Reemplazamos los valores 'Sin Data' por 'NaN'

df.replace('Sin Data', pd.NA, inplace=True)

df.head()

,Fecha & Hora,Bolivia,Bosa,Carvajal - Sevillana,Centro de Alto Rendimiento,Ciudad Bolivar,Colina,Fontibon,Guaymaral,Jazmin,...,Las Ferias,MinAmbiente,Movil Fontibon,Movil 7ma,Puente Aranda,San Cristobal,Suba,Tunal,Usaquen,Usme
0,01/01/2017 01:00,<NA>,<NA>,21.2,14.2,<NA>,<NA>,<NA>,3,<NA>,...,<NA>,6,<NA>,6,7.4,14.8,42,32,8,<NA>
1,01/01/2017 02:00,<NA>,<NA>,28.6,32.8,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,9,<NA>,33,6,18.5,34,56,7,<NA>
2,01/01/2017 03:00,<NA>,<NA>,29.9,35,<NA>,<NA>,<NA>,2,<NA>,...,<NA>,6,<NA>,33,10,15.1,36,30,5,<NA>
3,01/01/2017 04:00,<NA>,<NA>,24.2,9.4,<NA>,<NA>,<NA>,10,<NA>,...,<NA>,4,<NA>,6,11.5,10.4,24,8,12,<NA>
4,01/01/2017 05:00,<NA>,<NA>,15.6,3.3,<NA>,<NA>,<NA>,13,<NA>,...,<NA>,2,<NA>,<NA>,8.2,7.6,10,4,8,<NA>

## Fechas

Como la columna `Fecha & Hora` tiene problemas de notación de fecha, se crea una secuencia de fechas con frecuencia de 1 hora desde el 01/01/2017 a la 1:00 hasta el 01/07/2022 00:00.

In [5]:
fecha_inicio = '2017-01-01 01:00:00'
fecha_final = '2022-07-01 00:00:00'

Fecha = pd.date_range(start=fecha_inicio, end=fecha_final,freq='h')

df['Fecha & Hora'] = Fecha
df.rename(columns={'Fecha & Hora': 'Fecha'}, inplace=True)
df.head()

,Fecha,Bolivia,Bosa,Carvajal - Sevillana,Centro de Alto Rendimiento,Ciudad Bolivar,Colina,Fontibon,Guaymaral,Jazmin,...,Las Ferias,MinAmbiente,Movil Fontibon,Movil 7ma,Puente Aranda,San Cristobal,Suba,Tunal,Usaquen,Usme
0,2017-01-01 01:00:00,<NA>,<NA>,21.2,14.2,<NA>,<NA>,<NA>,3,<NA>,...,<NA>,6,<NA>,6,7.4,14.8,42,32,8,<NA>
1,2017-01-01 02:00:00,<NA>,<NA>,28.6,32.8,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,9,<NA>,33,6,18.5,34,56,7,<NA>
2,2017-01-01 03:00:00,<NA>,<NA>,29.9,35,<NA>,<NA>,<NA>,2,<NA>,...,<NA>,6,<NA>,33,10,15.1,36,30,5,<NA>
3,2017-01-01 04:00:00,<NA>,<NA>,24.2,9.4,<NA>,<NA>,<NA>,10,<NA>,...,<NA>,4,<NA>,6,11.5,10.4,24,8,12,<NA>
4,2017-01-01 05:00:00,<NA>,<NA>,15.6,3.3,<NA>,<NA>,<NA>,13,<NA>,...,<NA>,2,<NA>,<NA>,8.2,7.6,10,4,8,<NA>

# Corregir el tipo de datos de cada estación a numérico

In [6]:
for col in df.columns[1:]:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [7]:
df.dtypes

Fecha                         datetime64[ns]
Bolivia                              float64
Bosa                                 float64
Carvajal - Sevillana                 float64
Centro de Alto Rendimiento           float64
Ciudad Bolivar                       float64
Colina                               float64
Fontibon                             float64
Guaymaral                            float64
Jazmin                               float64
Kennedy                              float64
Las Ferias                           float64
MinAmbiente                          float64
Movil Fontibon                       float64
Movil 7ma                            float64
Puente Aranda                        float64
San Cristobal                        float64
Suba                                 float64
Tunal                                float64
Usaquen                              float64
Usme                                 float64
dtype: object

# Guardar en csv

In [9]:
df.to_csv('../data/PM25_limpio.csv',index=False)

# Imputar datos con Missforest

Se debe correr el script de R llamado `missforest.R` que se encuentra en el directorio `Rscripts` de este proyecto.

En este script se imputan los datos faltantes con la técnica no paramétrica llamada MissForest. El script guarda el resultado de los datos imputados en el directorio `data` con el nombre `PM25_imputado.csv` y la métrica **NRMSE** de MissForest con el nombre `NRMSE_missforest.csv`.

El script de R demora por lo menos 2 horas por cada iteración, tiene un máximo de iteraciones de 15. Descomentar si se quiere correr de nuevo.

In [8]:
sys.path.append(sys.path[-1].split('\\venv')[0])
from scripts.pyscripts.r_path import run_r_script

#run_r_script('missforest.R')

missForest ya estÃ¡ instalado.
zoo ya estÃ¡ instalado.
xts ya estÃ¡ instalado.
Importando librerÃ­as

Importando datos

ImputaciÃ³n de datos con MissForest en ejecuciÃ³n

imputaciÃ³n finalizada

PM25_imputado.csv guardado en el directorio data

NRMSE_missforest.csv guardado en el directorio data

# Gráficos.

## Series incompletas